@media only screen and (max-width: 410px) {
  
  #container_send_sheets.open,
  #container_send_sheet_2.open {
    left: 0px;
    transition: left .5s ease
  }

  #form_cco_informa .row:first-child {
    margin: 0;
  }

  main {
    position: relative;
    left: 0;
    width: 100%;
    min-height: 675px;
  }

  footer{
    position: relative;
    top: 0;
  }
}