@charset "UTF-8";
form{
  width: 450px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  background-color: #65c3f9;
  border-radius: 8px;
  animation: surge 1s ease-out;
}
@keyframes surge {
  from{
    top: -1000px;
  }
  to{
  }
}
form .row{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 3px;
  margin-bottom: 5px;
  padding: 0 7px;
}
@media only screen and (max-width: 450px) {
  form{
    width: 100%;
    padding: 0;
  }
  form .row{
    padding: 0;
  }

}
.select-was-informed{
  width: 150px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: red;
  transition: color .2s;
}
 .icons{
  width: 25px;
  height: 25px;
  font-size: 22px;
}
.icon{
  position: absolute;
}
.select-was-informed.active .icons .icon#yes, .icon#no{
  visibility: visible;
}
.select-was-informed.active .icons .icon#no, .icon#yes{
  visibility: hidden;
}
.select-was-informed.active{
  color: green;
}
.select-menu{
  width: 150px;
  height: 40px;
}
.select-menu .selecionar-informado{
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 8px;
  cursor: pointer;
}
.select-menu .selecionar-informado #who_informed{
  margin-left: 20px;
}
.select-menu .selecionar-informado .arrow-down{
  position: absolute;
  margin-left: 110px;
  font-size: 23px;
  transition: rotate .5s;
}
.select-menu .selecionar-informado.active .arrow-down{
  rotate: 180deg;
  
}
.select-menu .list{
  position: absolute;
  width: 150px;
  z-index: 10;
  border-radius: 8px;
  box-shadow: none;
  transition: margin-top .5s cubic-bezier(0.65, 0.05, 0.36, 1), box-shadow .3s ease;
}
.list .option{
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  cursor: pointer;
  background-color: #fff;
  color: #000000bb;
  transform-origin: top;
  transform: scale(0) translateY(-40px);
  margin-bottom: -45px;
  opacity: 0;
  transition: color .5s ease-in-out, background .5s ease, opacity .3s, transform .5s cubic-bezier(0.65, 0.05, 0.36, 1), margin-bottom .2s ease-in-out;
}
.select-menu .selecionar-informado.active ~ .list{
  margin-top: 5px;
  box-shadow: 0px -2px 20px 3px #333;
  transition: margin-top .5s cubic-bezier(0.65, 0.05, 0.36, 1), box-shadow .3s ease;
}
.select-menu .selecionar-informado.active ~ .list .option{
  margin-bottom: 0;
  opacity: 1;
  transform: scale(1);
  transition: opacity .3s, transform .2s ease-in-out;
  transition: color .5s ease, background-color .3s ease;
}
.list .option:hover{
  background-color: #f2f2f2;
  color: #000000;
}
.list .option .option-text{
  padding: 0 16px;
}
.list .option:nth-child(1),
.list-activities .options-activies:nth-child(1),
.list-event .options-events:nth-child(1){
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.list .option:nth-child(4),
.list-activities .options-activies:nth-child(13),
.list-event .options-events:nth-child(4){
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.fiscal{
  width: 150px;
  height: 40px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  scale: 0;
  transition: scale .2s;
}
input#fiscal{
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 8px;
  border: none;
  margin: 0 15px;
  font-size: 15px;
  background: none;
}
.fiscal.active{
  scale: 1;
  transition: scale .2s;
}
.table, .car, .replace-car{
  padding-left: 4px;
  padding-right: 4px;
  height: 40px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px;
}
.table{
  width: 112px;
}
.car, .replace-car{
  width: 67px;
}
#table, #car, #replace-car, #line, #time{
  height: 100%;
  background: none;
  border: none;
  outline: none;
  font-size: 15px;
}
#table{
  width: 76px;
}
#car, #replace-car{
  width: 40px;
}
#icon_tb, #icon_bus, #icon_replace, #icon_line, #icon_time, #icon_activity, .arrow-down{
  font-size: 22px;
}
#replace{
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 8px;
  z-index: 1;
  color: red;
}
#icon_replace{
  font-size: 20px;
  transition: rotate 1s, color .5s;
}
.replace-car{
  position: relative;
  left: -80px;
  visibility: hidden;
  transform: scale(0);
  transition:  transform .4s ease-in-out, left .5s, visibility .5s;
}
#replace.active{
  color: green;
}
#replace.active #icon_replace{
  rotate: 360deg;
  transition: rotate 1s, color .5s;
}
#replace.active ~ .replace-car{
  visibility: visible;
  left: 0;
  transform: scale(1);
  transition: transform .2s ease-in-out, left .5s;
}
.line, .time, .select-activity{
  width: 72px;
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  background: #fff;
  height: 40px;
  align-items: center;
  gap: 6px;
  border-radius: 8px;
}
.line #line, .time #time{
  width: 42px;
}
.time{
  width: 70px;
}
.select-activity{
  width: 80px;
  cursor: pointer;
}
.list-activities{
  position: absolute;
  left: 223px;
  top: 262px;
  width: 94px;
  background-color: #fff;
  border-radius: 7px;
  scale: 0;
  opacity: 0;
  z-index: 9;
  transform-origin: top;
  transform: translateY(-20px);
  transition: scale .2s ease-in-out, transform .5s cubic-bezier(0.65, 0.05, 0.36, 1), opacity .3s;
}
.list-activities .options-activies{
  position: relative;
  height: 40px;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0 16px;
  color: #000000bb;
  cursor: pointer;
  z-index: 10;
}
.list-activities .options-activies:hover{
  color: #000000;
  background-color: #f2f2f2;
}
#div_activity.active ~ .list-activities{
  box-shadow: 0px -2px 20px 3px #333;
  scale: 1;
  opacity: 1;
  transform: translateY(0);
  transition: scale .2s ease-in-out, transform .5s cubic-bezier(0.65, 0.05, 0.36, 1), opacity .3s;
}
.select-activity .arrow-down, #div-event .arrow-down{
  rotate: 360deg;
  transition: rotate .5s;
}
#div_activity.active .select-activity .arrow-down, #div-event.active .arrow-down{
  rotate: 180deg;
  transition: rotate .5s;
}
#div-event{
  width: 207px;
  height: 40px;
  padding-left: 10px;
  background-color: #fff;
  border-radius: 7px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
#div-event .arrow-down{
  display: inline-block;
  position: absolute;
  margin-left: 180px;
  font-size: 22px;
}
.list-event{
  width: 136px;
  background-color: #fff;
  box-shadow: 0px -2px 20px 3px #333;
  position: absolute;
  transform-origin: top;
  scale: 0;
  border-radius: 7px;
  z-index: 0;
  margin-top: 180px;
  margin-left: 43px;
  transition: scale .2s cubic-bezier(0.25, -0.41, 0.76, 0.89), margin-top .5s;
}
.list-event .options-events{
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0 9px;
  height: 40px;
  color: #000000bb;
  cursor: pointer;
  
}
.list-event .options-events:hover{
  background-color: #f2f2f2;
  color: #000000;
}
#div-event.active ~ .list-event{
  scale: 1;
  z-index: 7;
  margin-top: 210px;
  transition: scale .2s cubic-bezier(0.54, 0.01, 0, 1.45), margin-top .5s;
}

#div_location{
  display: none;
}
#div_delay{
  display: block;
}