@charset "UTF-8";

form{
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  background-color: #ccc;
}
form .row{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 3px;
  margin-bottom: 5px;
  padding: 0 7px;
}
.select-was-informed{
  width: 150px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
  color: red;
}
.icons{
  position: relative;
  top: -13px;
  left: -23px;
}
.icon{
  position: absolute;
  font-size: 25px;
}
.select-was-informed.active .icons .icon#yes, .icon#no{
  visibility: visible;
}
.select-was-informed.active .icons .icon#no, .icon#yes{
  visibility: hidden;
}
.select-was-informed.active{
  color: green;
}
.select-menu{
  width: 150px;
  height: 40px;
}
.select-menu .selecionar-informado{
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  cursor: pointer;
}
.select-menu .selecionar-informado #who_informed{
  margin-left: 20px;
}
.select-menu .selecionar-informado .arrow-down{
  position: absolute;
  margin-left: 110px;
  font-size: 20px;
  transition: rotate .5s;
}
.select-menu .selecionar-informado.active .arrow-down{
  rotate: 180deg;
  
}
.select-menu .list{
  position: absolute;
  width: 150px;
  z-index: 1;
}
.list .option{
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  cursor: pointer;
  background-color: #fff;
  transform-origin: top;
  transform: scale(0) translateY(-40px);
  margin-bottom: -45px;
  opacity: 0;
  transition: opacity .3s, transform .5s cubic-bezier(0.65, 0.05, 0.36, 1), margin-bottom .2s ease-in-out
}
.select-menu .selecionar-informado.active ~ .list .option{
  margin-bottom: 0;
  opacity: 1;
  transform: scale(1) translateY(7px);
  transition: opacity .3s, transform .5s cubic-bezier(0.65, 0.05, 0.36, 1), margin-bottom .2s ease-in-out
}
.list .option:hover{
  background-color: #f2f2f2;
  
}
.list .option .option-text{
  padding: 0 16px;
}
.list .option:nth-child(1){
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.list .option:nth-child(4){
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.fiscal{
  width: 150px;
  height: 40px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  scale: 0;
  transition:  scale .2s;
}
input#fiscal{
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 8px;
  border: none;
  margin: 0 15px;
  font-size: 15px;
  background: none;
  
}
.fiscal.active{
  scale: 1;
  transition: scale .2s;
}
.table, .car{
  padding-left: 8px;
  padding-right: 8px;
  height: 40px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.table{
  width: 120px;
}
.car{
  width: 80px;
}
#table, #car{
  height: 100%;
  background: none;
  border: none;
  outline: none;
  font-size: 15px;
}
#table{
  width: 80px;
}
#car{
  width: 40px;
}
#icon_tb, #icon_bus{
  font-size: 22px;
  margin-right: 5px;
}
