@charset "UTF-8";
:root{
  --primary-background: #65c3f9;
  --container-primary-bg: #ffffff;
  --container-primary-bg-hover: #dbd9d9;
  --primary-color: #0a0117;
}
section{
  width: 500px;
}
form{
  width: 92%;
  margin: auto;
  padding: 2% 2% 2% 2%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-background);
  color: var(--primary-color);
  border-radius: 8px;
  animation: surge 1s ease-out;
}
@keyframes surge{from{top: -1000px;}to{top: 10px;}}
@media only screen and (max-width: 500px){form{width: 100%;padding: 0;}}
.row,
.continued_journey{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 3px 0;
}
.select_was_informed{
  display: flex;
  align-items: center;
}
.row{
  width: 100%;
  justify-content: flex-start;
  gap: 10px;
}
.select_was_informed,
.continued_journey{
  padding-left: 4px;
  justify-content: center;
  color: red;
  transition: color .2s;
}
.icons{
  width: 25px;
  height: 25px;
}
.icon{position: absolute;}
.select_was_informed.active .yes,.select_was_informed .no,
.continued_journey.active .yes,.continued_journey .no
{visibility: visible;}
.select_was_informed.active .no, .select_was_informed .yes,
.continued_journey.active .no, .continued_journey .yes
{visibility: hidden;}
.select_was_informed.active, #replace.active, .continued_journey.active{color: #0eaa0e;}
.div_informed{
  width: 110px;
  padding: 0 20px 0 0;
}
.div_informed .select_informed{
  width: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fiscal{
  width: 122px;
}
input{
  height: 100%;
  font-size: 15px;
  background: none;
  border: none;
  outline: none;
}
input#fiscal{
  width: 112px;
  padding-left: 7px;
}
input#table{
  width: 76px;
}
input#car, input#replace-car, input#time{
  width: 40px;
}
input#line{
  width: 48px;
}
input#location_event{
  width: 200px;
}
@media only screen and (max-width: 500px){input#location_event{width: 170px;}}
input#delay_event{
  width: 30px;
}
input#motive{
  width: 200px;
  padding-left: 7px;
}
.icons, #icon_tb, .icon_bus, #icon_replace, #icon_line, #icon_time,
#icon_activity, .arrow_down, .icon_location, #icon_delay{
  font-size: 22px;
}
#icon_replace,
.arrow_down{
rotate: 0deg;
transition: rotate 1s;
}
#replace.active #icon_replace,
.active .arrow_down,
.active ~ .arrow_down{
  rotate: 180deg;
  transition: rotate 1s;
}
.fiscal,.replace-car,#div_location,#div_delay,#div_location_continued{
  position: relative;
  z-index: 1;
  visibility: hidden;
  left: -80px;
  scale: 0;
  transition: visibility .2s ease, left .5s, scale .5s;
}
.fiscal.active,
#replace.active ~ .replace-car,
#div_location.active,
#div_delay.active,
.active ~ #div_location_continued{
  visibility: visible;
  left: 0;
  scale: 1;
  transition: visibility .2s ease, left .5s, scale .5s;
}
.table, .car, .replace-car,
.line, .time, .select-activity,
#div_location.active,
#div_delay.active,
.active ~ #div_location_continued{
  padding: 0 4px;
  display: flex;
  align-items: center;
}
.select_was_informed,
.div_informed,
.select_informed,
.list .option,
.fiscal,
.table,
.car,
.replace-car,
#replace,
.options_activies,
.line,
.time,
.select-activity,
#div_event,
.options_events,
#div_location,
#div_delay,
.continued_journey,
#div_location_continued,
#div_motives,
#list_motives .option_motive{
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--container-primary-bg);
}
#replace{
  width: 22px;
  height: 22px;
  padding: 5px;
  z-index: 3;
  color: red;
}
.line, .time, .select-activity{
  flex-direction: row;
  gap: 3px;
}
.select-activity{
  cursor: pointer;
}
.list, .list_activities, .list_event, #list_motives{
  position: absolute;
  background-color: var(--container-primary-bg);
  border-radius: 8px;
  margin-top: 5px;
  list-style: none;
}
.list{
  width: 130px;
  z-index: 10;
}
.list_activities{
  width: 55px;
  top: 181px;
  left: 198px;
  z-index: 9;
}
.list_event{
  width: 150px;
  top: 227px;
  left: 50px;
  z-index: 8;
}
#list_motives{
  width: 177px;
  max-height: 300px;
  top: 272px;
  left: 30px;
  padding: 0 4px;
  z-index: 8;
  overflow: overlay;

}
.list .option:nth-child(1),
.list_activities .options_activies:nth-child(1),
.list_event .options_events:nth-child(1){
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.list .option:nth-child(4),
.list_activities .options_activies:nth-child(13),
.list_event .options_events:nth-child(4){
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.list .option .option_text, .options_activies, .options_events{
  padding: 0 16px;
}
.list .option,
.list_activities .options_activies,
.list_event .options_events,
#list_motives .option_motive{
  display: flex;
  border-radius: 0;
  color: var(--primary-color);
  background-color: transparent;
  align-items: center;
  transform-origin: top;
  transform: scale(0) translateY(-40px);
  margin-bottom: -45px;
  opacity: 0;
  transition: opacity .2s, transform .5s cubic-bezier(0.65, 0.05, 0.36, 1), margin-bottom .2s ease-in-out;
}
.list .option:hover,
.list_activities .options_activies:hover,
.list_event .options_events:hover,
#list_motives .option_motive:hover{
  background-color: var(--container-primary-bg-hover);
}
.div_informed .select_informed.active ~ .list,
#div_activity.active ~ .list_activities,
#div_event.active ~ .list_event{
  box-shadow: 0px 4px 20px 3px #333;
}
.div_informed .select_informed.active ~ .list .option,
#div_activity.active ~ .list_activities .options_activies,
#div_event.active ~ .list_event .options_events,
#div_motives.active ~ #list_motives .option_motive
{
  margin-bottom: 0;
  opacity: 1;
  transform: scale(1) translateY(0);
  transition: opacity .2s, transform .2s cubic-bezier(0.65, 0.05, 0.36, 1), margin-bottom .2s ease-in-out;
}
#div_event{
  width: 210px;
  z-index: 5;
}
.select_event{
  height: 100%;
  gap: 3px;
  padding: 0 4px;
  display: flex;
  align-content: space-between;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
@media only screen and (max-width: 500px){
  form{width: 100%;padding: 0;}
  .div_informed{width: 90px;}
  .list{width: 110px;}
  .list_activities{
    top: 172px;
    left: 184px;
  }
  .list_event{
    top: 218px;
    left: 24px;
  }
  #div_event{width: 176px;}
}
.location_and_delay{
  height: 40px;
}
#div_location,
#div_location_continued{
  left: -200px;
}
#div_delay,
#div_delay.active{
  display: flex;
  top: -40px;
}
#div_delay{
  width: 50px;
  z-index: 1;
}
#row_continued{
  height: 0;
  margin: 0;
  transition: height .5s;
}
.continued_journey{
  position: relative;
  top: -40px;
  scale: 0;
  z-index: 3;
}
.continued_journey.open{
  top: 0;
  scale: 1;
}
.continued_journey,
.continued_journey.open{
  transition: top .5s, scale .5s;
}
#div_motives{
  display: flex;
  align-items: center;
}
#div_motives .arrow_down{
  padding: 0 4px;
}
