div.row {
  display: flex;
  flex-direction: row;
}
div.quem {
  display: flex;
  flex-direction: row;
}
div.onde {
  display: block;
}
div.min,
div.problema,
div.tripulação,
div.trocado,
div.localcongestionamento,
div.apartir
{
  display: none;
}
