@charset "UTF-8";
:root{
  --primary-background: #65c3f9;
  --container-primary-bg: #ffffff;
  --container-primary-bg-hover: #f2f2f2;
  --primary-color: #0a0117;
}
section{
  width: 500px;
}
form{
  width: 92%;
  margin: auto;
  padding: 2% 2% 2% 2%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-background);
  color: var(--primary-color);
  border-radius: 8px;
  animation: surge 1s ease-out;
}
@keyframes surge{from{top: -1000px;}to{top: 10px;}}
@media only screen and (max-width: 500px){form{width: 100%;padding: 0;}}
.row,
.select-was-informed{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row{
  width: 100%;
  justify-content: flex-start;
  gap: 10px;
}
.select-was-informed{
  padding-left: 4px;
  justify-content: center;
  color: red;
  transition: color .2s;
}

.select-was-informed:hover{background-color: var(--container-primary-bg-hover);}
.icons{
  width: 25px;
  height: 25px;
  font-size: 22px;
}
.icon{position: absolute;}
.select-was-informed.active .icons .icon#yes, .icon#no{visibility: visible;}
.select-was-informed.active .icons .icon#no, .icon#yes{visibility: hidden;}
.select-was-informed.active{color: #0eaa0e;}

.select-menu{
  width: 110px;
  padding: 0 20px 0 0;
}
.select-menu .selecionar-informado{
  width: 100%;
  height: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.select-menu .selecionar-informado .arrow-down
{transition: rotate .5s;font-size: 22px;}
.select-menu .selecionar-informado.active .arrow-down{rotate: 180deg;}

.select-menu .list{
  width: 130px;
  position: absolute;
  z-index: 10;
  background-color: var(--container-primary-bg);
  border-radius: 7px;
  margin-top: 5px;
  box-shadow: none;
}
.select-was-informed,
.select-menu,
.list .option,
.fiscal{
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--container-primary-bg);
}
.list .option{
  width: 100%;
  display: flex;
  border-radius: 0;
  color: var(--primary-color);
  background-color: transparent;
  align-items: center;
  transform-origin: top;
  transform: scale(0) translateY(-40px);
  margin-bottom: -45px;
  opacity: 0;
  transition: 
  background .5s ease-out,
  opacity .3s, 
  transform .5s cubic-bezier(0.65, 0.05, 0.36, 1), 
  margin-bottom .2s ease-in-out;
}
.list .option:hover{
  background-color: var(--container-primary-bg-hover);
}
.list .option .option-text{
  padding: 0 16px;
}
.list .option:nth-child(1),
.list-activities .options-activies:nth-child(1),
.list-event .options-events:nth-child(1){
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.list .option:nth-child(4),
.list-activities .options-activies:nth-child(13),
.list-event .options-events:nth-child(4){
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.select-menu .selecionar-informado.active ~ .list{
  box-shadow: 0px 4px 20px 3px #333;
}
.select-menu .selecionar-informado.active ~ .list .option{
  margin-bottom: 0;
  opacity: 1;
  transform: scale(1);
  transition: 
  background .5s ease-out,
  opacity .3s, 
  transform .2s cubic-bezier(0.65, 0.05, 0.36, 1), 
  margin-bottom .2s ease-in-out;
}
.fiscal{
  width: 122px;
  scale: 0;
  transition: scale .2s ease-in;
}
.fiscal.active{
  scale: 1;
  transition: scale .2s;
}
input{
  height: 100%;
  font-size: 15px;
  background: none;
  border: none;
  outline: none;
}
input#fiscal{
  width: 112px;
  padding-left: 7px;
}